/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #173a2b;
    /* color: #333; */
}

/* Duyuru Çubuğu Stili */
.announcement-bar-container {
    background-color: #869e59e7; /* Arkaplan rengi */
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.announcement-bar {
    display: inline-block;
    color: #173a2b; /* Yazı rengi */
    font-size: 0.8em;
    white-space: nowrap;
    padding: 10px 0;
    animation: slide 30s linear infinite; /* Kayan metin animasyonu */
}

/* Kayan Yazı Stili */
@keyframes slide {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

  /* Navbar Stili */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px 20px;
    background-color: #173a2b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #dcdec9;
    text-decoration: none;
}

.navbar .navlinks {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.navbar .navlinks a {
    /*text-decoration: none;*/
    color: #c0c2b0;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar .navlinks a:hover {
    color: #ffffff; /* Renk değiştir */
    font-weight: bold;
}

.icons i{
    font-size: 20px;
    justify-content: flex-end;
    margin-left: 10px;
    color: #ffffffe7;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icons i:hover {
    color: #869e59e7;
}

  /* Ana Sayfa Stili */
.header {
    background-color: #173a2b;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: #dcdec9;
}

.header p {
    color: #dcdec9;
    font-size: 0.8em;
}

/* .nav {
    display: flex;
    justify-content: center;
    background-color: #dcdec9;
    padding: 10px 0;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
} 

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-top: 0;
    color: #0d0f0e;
}

.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
} */